@charset 'utf-8';

/*
 * Table of contents   Содержание
 *
 *  0. Imports
 *  1. General Vars, Mixins, Extends

 *  14.
 *
 */


$accent: #3c9;


html {

    overflow: hidden;
    font-size: inherit;
    display: block;
    margin: 0 auto;

}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: inherit;
    font-family: inherit;

}

header {
    width: 100%;
    padding: 1rem  0;
    // background-color: #39c;
    background-color: #fff;
    background-color: $accent;
    display: flex;
    // transform: translate(0, -10%);
    // opacity: 0.5;

}