@charset 'utf-8';

/*
 * Table of contents   Содержание
 *
 *  0. Imports
 *  1. General Vars, Mixins, Extends

 *  14.
 *
 */


@import 'services/services'; // services and helpers functions
@import 'libs';         // external libs
@import 'fonts';        // fonts add
@import 'mwgrid';       // layout framework

@import 'vars';
@import 'mixins';
@import 'base';         // base, 

@import 'plugins/plugins'; // external plugins custom styles
// @import 'components';   // moved to -> _base
// @import 'print';     // print v styles

$accent: #3c9;
$accent: #9c3;


/* 1. General, structure
 * **********************************************************************
 *  
*/

/* 2. Header
 * **********************************************************************
 *  
*/

.header{

}
.header-top{

}
.logo{

    img{
        width: auto; max-width: 100%; height: auto;
    }
}

@media (max-width: 768px) {
   
    
} /* media end */




html {

    overflow: hidden;
    font-size: inherit;
    display: block;
    margin: 0 auto;

}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: inherit;
    font-family: inherit;

}

header {
    width: 100%;
    padding: 1rem  0;
    // background-color: #39c;
    background-color: #fff;
    background-color: $accent;
    // display: flex;
    // transform: translate(0, -10%);
    // opacity: 0.5;

}

.title {
    // font-size: get_font_size();
    color: #000;

    @include font_size_pro('h3');
}